.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15em;
  flex-direction: column;
}

.buttone {
  color: white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  width: auto;
  max-width: 33px;
  -webkit-transition: max-width 0.5s;
  -webkit-transition: padding-right 0.5s;
  transition: max-width 0.5s;
}

.buttone:hover {
  max-width: 300px; /* fit content doesnt work */
}

.text {
  white-space: nowrap;
  padding-right: 15px;
}

